#board{
    padding: 3em;
    text-align: center;
}
.row > div{
    float: left;
    height: 100px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    font-size: 5.2em;;
}

.row{
    clear:both;
    margin: 0 auto;
    width: 304px;
}
.top, .bottom{
    border-bottom: 1px black solid;
    border-top: 1px black solid;
}
.left, .right{
    border-left: 1px black solid;
    border-right: 1px black solid;
}


